body{
	font-family:monospace;
}

.game_screen{
	position: relative;
	background-image: url('http://bit.ly/pokemonbg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 480px;
	width: 800px;
}

p{
	padding-top: 50px;
}

.message{
	position:relative;
	font-size:48px;
	text-align:center;
}

a:link, a:visited{
	text-decoration: none;
}

.pikachu{
	margin-top: 90px;
	margin-left: 200px;
	float: left;
}

.mudkip{
	margin-top: 90px;
	margin-right: 200px;
	float: right;
}

figcaption{
	text-align: center;
	font-size: 20px;
	color: white;
	border-radius: 25px;
	background-color:blue;
}


